
pca10040_uart_debug/arm5_no_packs/_build/

*.o

*.d

pca10056_uart_debug/arm5_no_packs/_build/

*.TMP

*.HuyTV

pca10040_uart_debug/arm5_no_packs/JLinkSettings.ini

pca10040_uart_debug/arm5_no_packs/JLinkLog.txt

*.crf

pca10040_uart_debug/arm5_no_packs/nrf52832_xxaa_mbr.bin/

*.htm

*.lst

*.sct

*.dep

*.svn-base

.svn/

pca10040_uart_debug/arm5_no_packs/secure_bootloader_uart_mbr_pca10040_debug.uvoptx

*.huybk213

*.uvprojx

*.__i

*._ia

*.Bak

*.lnp

pca10056_uart_debug/arm5_no_packs/secure_bootloader_uart_mbr_pca10056_debug.uvoptx

*.axf

*.iex

pca10056_uart_debug/Output/nrf52840_xxaa_mbr.hex

pca10056_uart_debug/arm5_no_packs/nrf52840_xxaa_mbr.bin/

*.scvd

pca10056_uart_debug/arm5_no_packs/JLinkLog.txt

pca10056_uart_debug/arm5_no_packs/JLinkSettings.ini
Internet/aws_iot/cert/*

pca10056_uart_debug/ses/Output/Release/Exe/

pca10056_uart_debug/ses/Output/Release/Obj/secure_bootloader_uart_mbr_pca10056_debug/
pca10056_uart_debug/ses/secure_bootloader_uart_mbr_pca10056_debug.emSession
